{% extends 'base.html.twig' %}

{% block title %}AddProductHistory index{% endblock %}

{% block body %}
    <h1>AddProductHistory index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Quantity</th>
                <th>CreatedAt</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for add_product_history in add_product_histories %}
            <tr>
                <td>{{ add_product_history.id }}</td>
                <td>{{ add_product_history.quantity }}</td>
                <td>{{ add_product_history.createdAt ? add_product_history.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_add_product_history_show', {'id': add_product_history.id}) }}">show</a>
                    <a href="{{ path('app_add_product_history_edit', {'id': add_product_history.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_add_product_history_new') }}">Create new</a>
{% endblock %}
