
{% if pageCount > 1 %}
<nav aria-label="Navigation de pagination">
  <ul class="pagination">
    {% if previous is defined %}
    
      <li class="page-item">
        <a class="page-link" href="{{ path(route, query|merge({(pageParameterName):previous})) }}">Précédent</a>
      </li>
    {% endif %}

    {% for page in pagesInRange %}
    {% if page != current %}
      <li class="page-item">
        <a class="page-link" href="{{ path(route, query|merge({(pageParameterName):page})) }}">{{ page }}</a>
      </li>
    {% else %}
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName):page})) }}">{{ page }}</a>
        </li>
        {% endif %}
    {% endfor %}
   
    {% if next is defined %}
      <li class="page-item">
        <a class="page-link" href="{{ path(route, query|merge({(pageParameterName):next})) }}">Suivant</a>
      </li>
    {% endif %}
  </ul>
</nav>
{% endif %}
