{# Navbar principale #}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <!-- Logo -->
    <a class="navbar-brand" href="/">AsiaSHOP</a>

    <!-- Bouton mobile -->
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll"
      aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Contenu principal -->
    <div class="collapse navbar-collapse" id="navbarScroll">

      <!-- Recherche centrée -->
      <form data-turbo='false' method="get" action="{{ path('app_search')}}" class="d-flex mx-auto" role="search">
        <input name="word" class="form-control me-2" type="search" placeholder="Rechercher un produit"
          aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>

      <!-- Menu utilisateur/admin/éditeur -->
      <ul class="navbar-nav ms-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
        {% if is_granted("ROLE_ADMIN") %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Admin
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ path('app_category') }}">Catégories</a></li>
              <li><a class="dropdown-item" href="{{ path('app_category_add') }}">Ajouter une catégorie</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ path('app_sub_category_index') }}">Sous-Catégorie</a></li>
              <li><a class="dropdown-item" href="{{ path('app_sub_category_new') }}">Ajouter une sous-catégorie</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ path('app_product_index') }}">Produit</a></li>
              <li><a class="dropdown-item" href="{{ path('app_product_new') }}">Ajouter un produit</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="{{ path('app_users') }}">Utilisateurs</a></li>
            </ul>
            {% if is_granted("ROLE_EDITOR") %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Commandes
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'is-completed'}) }}">Commandes livrées</a></li>
              <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'no_delivery'}) }}">Commandes non livrées</a></li>
              <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'pay-on-stripe-not-delivered'}) }}">Commandes payées en ligne non livrées</a></li>
              <li><a class="dropdown-item" href="{{ path('app_orders_show',{'type':'pay-on-stripe-is-delivered'}) }}">Commandes payées en ligne livrées</a></li>
            </ul>
          </li>
        {% endif %}
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
          </li>
        {% endif %}

        

        {% if app.user == false %}
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>

{# Sous-navbar pour les catégories (en dessous de la searchbar) #}
{% if categories is defined %}
<nav class="navbar navbar-expand-lg navbar-light bg-light border-top">
  <div class="container">
    <div class="collapse navbar-collapse show" id="navbarCategories">
      <ul class="navbar-nav mx-auto">
        {% for category in categories %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="{{ path('app_home_category_filter', {'id': category.id}) }}"
               role="button" data-bs-toggle="dropdown" aria-expanded="false">
              {{ category.name }}
            </a>
            <ul class="dropdown-menu">
              {% for subCategory in category.subCategories %}
                <li><a class="dropdown-item"
                       href="{{ path('app_home_product_filter',{'id':subCategory.id}) }}">{{ subCategory.name }}</a></li>
              {% endfor %}
            </ul>
          </li>
        {% endfor %}
      </ul>
    </div>
  </div>
</nav>
{% endif %}
