{% extends 'base.html.twig' %}

{% block title %}Gerer le stock{% endblock %}

{% block body %}
<div class="container">
    <h1 class="mt-5 mb-5">Gerer le stock pour : {{ product.name }}</h1>
    {{ form_start(form) }}
        <label for="stock">Quantité du stock actuel</label><br>
        <input type="text" name="stock" disabled=true class="form form-control mb-3" value="{{ product.stock }}">
        <br>
        {{ form_row(form.quantity, {'attr':{value:product.stock, 'class':'form form-control mb-3'}}) }}
        
        <input type="submit" class="btn btn-success btn-block">
    {{ form_end(form) }}
</div>
{% endblock %}
