{% extends 'base.html.twig' %}

{% block title %}Détails de la sous-catégorie{% endblock %}

{% block body %}
<div class="container">
    <h1>Détails de la sous-catégorie</h1>

    <table class="table table-bordered">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ sub_category.id }}</td>
            </tr>
            <tr>
                <th>Nom</th>
                <td>{{ sub_category.name }}</td>
            </tr>
            <tr>
                <th>Catégorie parente</th>
                <td>{{ sub_category.category ? sub_category.category.name : 'Aucune' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_sub_category_index') }}" class="btn btn-secondary">&larr; Retour à la liste</a>

    {% if sub_category.slug is not empty %}
        <a href="{{ path('app_sub_category_edit', {
            'category_slug': sub_category.category.slug,
            'sub_category_slug': sub_category.slug
        }) }}" class="btn btn-warning">Éditer</a>
    {% endif %}

    {{ include('sub_category/_delete_form.html.twig', { 'sub_category': sub_category }) }}
</div>
{% endblock %}
