{% extends 'base.html.twig' %}

{% block title %}Commande en cours {% endblock %}

{% block body %}
<div class='container'>
    <div class="row">
        <div class="col-8">
            <div class="d-flex justify-content-start mt-3 ">
            <a href="{{ path('app_cart') }}" class="btn btn-sm btn-outline-danger">Retour</a>
            </div>
            <h1 class='mt-4 mb-4'>Commande</h1>
            {{ form_start(form) }}

                {{ form_errors(form) }}

                            
                {{ form_widget(form.firstName, {
                }) }}
                {{ form_errors(form.firstName) }}

                {{ form_widget(form.lastName, {
                }) }}
                {{ form_errors(form.lastName) }}

                {{ form_widget(form.adress, {
                }) }}
                {{ form_errors(form.adress) }}

                {{ form_widget(form.city, {
                }) }}
                {{ form_errors(form.city) }}

                {{ form_widget(form.phone, {
                }) }}
                {{ form_errors(form.phone) }}

                <button class="btn btn-lg btn-primary w-100" type="submit">Continuer</button>

            {{ form_end(form) }}
        </div>
        <div class="col-4">
            
            <span class="mb-2">Montant du panier :</span> 
            <h3> 
                <span id="cart-price">{{ total }}</span>€ 
            </h3> 
            <span>Frais de livrasion</span>
            <h3> 
                <span id="shippingCost"></span>
                €
            </h3>
            <span>Montant total à payer :</span>
            <h3>
                <span class="total-price"></span>
                €
            </h3>
        </div>
    </div>


</div>
<script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
<script>
$(document).ready(function(){
    // On sélectionne le champ ville une seule fois
    const citySelector = $('#order_city');

    // Fonction générique pour faire la requête AJAX
    function ajaxRequest(url) {
        $.ajax({
            url: url, 
            type: 'GET', 
            success: function(response){
                if (parseInt(response.status) === 200){
                    $("#shippingCost").text(response.content);

                    const cardPrice = parseFloat($("#cart-price").text());
                    const shippingCost = parseFloat($('#shippingCost').text());
                    const totalPrice = cardPrice + shippingCost;
                    $(".total-price").text(totalPrice);
                    console.log(cardPrice);
                    
                }
            }
        });
    }

    // Fonction pour construire l'URL et lancer la requête
    function updateShippingCost() {
        const cityValue = citySelector.val();
        if (cityValue) {
            const url = `http://localhost:8000/city/${cityValue}/shipping/cost`;
            ajaxRequest(url);
        } else {
            $("#shippingCost").text('');
        }
    }

    // Appel au chargement
    updateShippingCost();

    // Appel à chaque changement de ville
    citySelector.on('change', function() {
    const urlUpdate = `http://localhost:8000/city/${$(this).val()}/shipping/cost`;
    ajaxRequest(urlUpdate);
    });
});
</script>
{% endblock %}
